@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-3"><br /></div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <h3 class="text-center">
                       
                        <img src="~/Content/RCS-logo-web1.png" />
                    </h3>
                </div>

                <div class="panel-body">
                    <h3>Customer Login</h3>
                    <hr />
                    <div class="form-horizontal">


                        <div class="form-group">
                            <label class="col-md-2 control-label">Username</label>
                            <div class="col-md-10">
                                <input type="text" name="username" required="required" class="form-control" />

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Password</label>
                            <div class="col-md-10">
                                <input type="password" name="password" required="required" class="form-control" />
                            </div>
                        </div>





                    </div>
                </div>
                <div class="panel-footer">
                    <div class="col-md-offset-7">
                        <input type="submit" value="Log in" class="btn btn-primary" />
                    </div>

                </div>
                <div class="panel-footer">
                    <footer>
                        <p>&copy; @DateTime.Now.Year - Developed by Suresoft Technology Ltd </p>
                    </footer>
                </div>
            </div>
        </div>
        <div class="col-md-3"><br /></div>
    </div>


}

